#news{
    width: 80%;
}
.foodImg #news{
    width:1200px;
    height: 100%;
}
.h1ForService  #news {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #7BF70E;
    text-transform: uppercase;
}
.pService  #news{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 40px;
    color: #3C3F41;
    text-transform: uppercase;
}
.titleService  #news{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1079px) {
     #news{
        margin-top: 10%;
    }
    .pService{
        margin-top: -3%;
    }
}

#news, ::after,::before{
    z-index: 1;
    min-height: 0px;
    position: relative;
    background-size: cover;
    background-color: #FFF2D9;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}