* {
    font-family: Roboto;
}
tr{
    text-align: center;
}

#employeePage .container {
    margin-top: 120px;
}


@keyframes flicker {
    0%, 60% {
        background-color: #000;
        opacity: 0.9;
    }
    40% {
        background-color: #000;
        opacity: 0.9;
    }
}


th.content-title {
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 1.2rem;
}

td.content-feedback {
    font-size: 1rem;
}


h2.text-center.pt-4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 5%;
}

div.input-group.mb-4 {
    width: 45%;
}

svg {
    height: 16px;
    width: 16px;
}


div.modal.fade {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

div.modal-content {
    background-size: 100% 100%;
}

div.modal-dialog {
    max-width: 55%;
}

h5.modal-title {
    font-weight: bold;
}

span.name-title {
    color: red;
}

label.fs-5 {
    padding-right: 5rem;
    padding-left: 5rem;
    width: 20rem;
    color: mediumblue;
}

p.content,td.content {
    padding-right: 4rem;
    font-size: 1.2rem;
}

img.content-img {
    width: 70%;
}


.table {
    margin-top: 2%;
}


.table.table-striped {
    border: 0.1rem solid;
    animation: color-change-border 5s infinite;
}
.long-button{
    width: 9%;
    margin-bottom: 1px;
}



/*@media only screen and (max-width: 559px) {*/
/*}*/

/*@media only screen and (min-width: 560px) and (max-width: 900px) {*/
/*}*/

/*@media only screen and (min-width: 901px) {*/
/*}*/

