.footer {
    /*background-color: yellow;*/
    padding: 4rem 0 2.5rem;
}

.footer__title {
    text-align: center;
    font-size: 77px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

